@keyframes shadowGlow {
    0% {
        box-shadow:
            0 0 10px #228be6,
            0 0 20px #228be655;
    }
    50% {
        box-shadow:
            0 0 20px #4dabf7,
            0 0 40px #4dabf777;
    }
    100% {
        box-shadow:
            0 0 10px #228be6,
            0 0 20px #228be655;
    }
}

.inner {
    position: relative;
    /* padding-top: calc(var(--mantine-spacing-xl) * 3.5); */
    /* padding-bottom: calc(var(--mantine-spacing-xl) * 4); */
    z-index: 100;
    @media (max-width: $mantine-breakpoint-md) {
        padding-right: 15px;
    }
    @media (max-width: $mantine-breakpoint-sm) {
        padding-right: 0px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    width: 1500px;
    height: 800px;
    border-radius: 30px;
    /* padding: calc(var(--mantine-spacing-xl)); */
    /* border: 1px solid #dee2e6; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */

    @media (max-width: $mantine-breakpoint-xl) {
        width: 1000px;
        height: auto;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        /* padding: 10; */
        padding: calc(var(--mantine-spacing-lg));
        height: auto;
        margin-right: 16px;
    }
    @media (max-width: $mantine-breakpoint-xs) {
        /* padding: 10px; */
        height: auto;
        margin-right: 16px;
        padding: calc(var(--mantine-spacing-md));
    }
}

.title {
    font-size: 38px;
    line-height: 1;
    

    @media (max-width: $mantine-breakpoint-xl) {
        font-size: 36px;
        text-align: left;
    }

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: 28px;
        line-height: 1.2;
    }
}

.control_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    margin-top: 50px;
    /* @media (max-width: $mantine-breakpoint-lg) {
        justify-content: center;
        flex-direction: row;
    }
    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: row;
        margin-top: 20px;
    } */
}

.control {
    /* width: 100%; */
    /* z-index: 1000;
    border: 1px solid grey; */
    /* @media (max-width: $mantine-breakpoint-lg) {
        width: 100%;
    }
    @media (max-width: $mantine-breakpoint-md) {
        width: 100%;
        font-size: 18px;
    }
    @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
        font-size: 14px;
    } */
    /* @media (max-width: $mantine-breakpoint-xs) {
        font-size: 14px;
    } */
}

.image_video_content_container {
    position: relative;
    width: 2000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-image: url("../../../public/images/portfolio-page/interior-6.webp");
    background-size: 500px;
    border-radius: 30px;
    min-height: 500px;
    background-attachment: fixed;
    padding: 10px;
    @media (max-width: $mantine-breakpoint-xl) {
        width: 1000px;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 5px;
    }
    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.image {
    width: 700px;
    height: 700px;
    border-radius: 30px;
}

.video_overlay {
    border-radius: 30px;
}

/* .video_overlay_border {
    border-radius: 30px;
    border: 5px solid white;
    margin: 15px;
} */

.video {
    border-radius: 30px;
    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.addr_panel {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    z-index: 1100;
    @media (max-width: $mantine-breakpoint-xl) {
        width: 97%;
    }
}

.addr_panel_m {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: 1px solid gray;
    z-index: 1100;
    @media (max-width: $mantine-breakpoint-xl) {
        width: 97%;
    }
}

.video_left {
    display: none;
    @media (max-width: $mantine-breakpoint-md) {
        display: block;
    }
    @media (max-width: $mantine-breakpoint-xs) {
        display: none;
    }
}

.video_left_bottom {
    display: none;
    @media (max-width: $mantine-breakpoint-xs) {
        padding: 0;
        display: block;
    }
}

.highlight {
    border-radius: 30px;
    color: #fa5252;
}

.highlight_off {
    border-radius: 30px;
    color: #2e2e2e;
}

.subtitle {
    border-radius: 30px;
    font-size: 21px;
    @media (max-width: $mantine-breakpoint-md) {
        font-size: 16px;
    }
}

.list {
    font-size: 21px;
    @media (max-width: $mantine-breakpoint-xl) {
        font-size: 18px;
    }
}

.list_right {
    z-index: 1001;
    font-size: 18px;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    width: 100%;
    @media (max-width: $mantine-breakpoint-xl) {
        font-size: 14px;
        width: 96%;
    }
    @media (max-width: $mantine-breakpoint-md) {
        font-size: 16px;
    }
    @media (max-width: $mantine-breakpoint-sm) {
        font-size: 12px;
    }
}

.list_left {
    display: none;
    font-size: 24px;
    @media (max-width: $mantine-breakpoint-md) {
        display: block;
        font-size: 18px;
        z-index: 1001;
        font-size: 18px;
    }
    @media (max-width: $mantine-breakpoint-xs) {
        display: none;
    }
}

.list_left_bottom {
    display: none;
    margin-top: 40px;
    font-size: 24px;
    @media (max-width: $mantine-breakpoint-md) {
        display: block;
        font-size: 18px;
        z-index: 1001;
        font-size: 18px;
    }
    @media (max-width: $mantine-breakpoint-xs) {
        display: block;
        z-index: 1001;
        font-size: 18px;
    }
}

.list_item_descr {
    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}
.list_item_descr_right {
    color: white;
    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}
.list_item_right {
    color: white;
    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}
