.description {
    &::after {
        content: "";
        display: block;
        background-color: var(--mantine-color-red-6);
        width: rem(45px);
        height: rem(2px);
        margin-top: var(--mantine-spacing-sm);
        margin-left: auto;
        margin-right: auto;
    }
}