.container {
    background: #f1f3f5;
    padding-left: 16px;
    padding-right: 16px;

}

.img {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.title {
    font-size: rem(34px);
    font-weight: 900;
    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(24px);
    }
}

.description {
    max-width: rem(600px);
    margin: auto;

    &::after {
        content: "";
        display: block;
        background-color: var(--mantine-color-red-6);
        width: rem(45px);
        height: rem(2px);
        margin-top: var(--mantine-spacing-sm);
        margin-left: auto;
        margin-right: auto;
    }
}

.card {
    border-radius: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    cursor: pointer;
}

.cardTitle {
    &::after {
        content: "";
        display: block;
        background-color: var(--mantine-color-blue-filled);
        width: rem(45px);
        height: rem(2px);
        margin-top: var(--mantine-spacing-sm);
    }
}

.controls {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.control {
    height: rem(42px);
    font-size: var(--mantine-font-size-md);

    &:not(:first-of-type) {
        margin-left: var(--mantine-spacing-md);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        &:not(:first-of-type) {
            margin-top: var(--mantine-spacing-md);
            margin-left: 0;
        }
    }
}

.secondaryControl {
    color: var(--mantine-color-white);
    background-color: rgba(255, 255, 255, 0.4);

    @mixin hover {
        background-color: rgba(255, 255, 255, 0.45);
    }
}
