.wrapper_portfolio {
    position: relative;
    /* padding-top: rem(300px);
    padding-bottom: rem(130px); */
    height: 600px;
    padding-top: rem(230px);
    /* background-image: url("../../public/images/hero-carousel/4.webp"); */
    background-size: cover;
    background-position: center;

    @media (max-width: $mantine-breakpoint-xs) {
        padding-bottom: rem(100px);
    }
}

.wrapper_about {
    position: relative;
    /* padding-top: rem(350px);

    padding-bottom: rem(130px); */
    height: 600px;
    padding-top: rem(230px);
    background-image: url("../../public/images/hero-carousel/6.webp");
    background-size: cover;
    background-position: center;

    @media (max-width: $mantine-breakpoint-xs) {
        padding-bottom: rem(100px);
    }
}

.wrapper_catalog {
    position: relative;
    height: 100px;
    /* background-image: url("../../public/images/hero-carousel/4.webp");
    background-size: cover;
    background-position: end; */

    @media (max-width: $mantine-breakpoint-lg) {
        height: 90px;
    }
}

.wrapper_calculations {
    position: relative;
    height: 100px;
    /* height: 150px; */
    /* background-image: url("../../public/images/hero-carousel/5.webp"); */
    /* background-size: cover;
    background-position: center; */
    /* backgound: white; */

    @media (max-width: $mantine-breakpoint-md) {
        height: 100px;
        /* height: 115px; */
        /* padding-top: rem(80px);
        padding-bottom: rem(50px); */
    }
}

.wrapper_contacts {
    position: relative;
    height: 600px;
    padding-top: rem(230px);
    background-image: url("../../public/images/hero-carousel/7.jpg");
    background-size: cover;
    background-position: center;

    @media (max-width: $mantine-breakpoint-xs) {
        padding-bottom: rem(100px);
    }
}

.inner {
    position: relative;
    z-index: 1;
}

.title {
    font-weight: 800;
    font-size: rem(40px);
    letter-spacing: rem(-1px);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-xs);
    text-align: center;
    font-family:
        Greycliff CF,
        var(--mantine-font-family);

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
        text-align: center;
    }
}

.highlight {
    color: var(--mantine-color-primary-4);
}

.description {
    color: var(--mantine-color-gray-0);
    text-align: center;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-xl);
        text-align: center;
    }
}

.controls {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
    display: flex;
    justify-content: center;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    gap: 10px;

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.control {
    height: rem(42px);
    font-size: var(--mantine-font-size-md);
    color: var(--mantine-color-white);
    &:not(:first-of-type) {
        margin-left: var(--mantine-spacing-md);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        &:not(:first-of-type) {
            margin-top: var(--mantine-spacing-md);
            margin-left: 0;
        }
    }
}

.secondaryControl {
    color: var(--mantine-color-white);
    /* background-color: rgba(255, 255, 255, 0.4); */

    @mixin hover {
        background-color: rgba(255, 255, 255, 0.45);
    }
}

.my_control {
    height: rem(42px);
    font-size: var(--mantine-font-size-md);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    &:not(:first-of-type) {
        margin-left: var(--mantine-spacing-md);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        &:not(:first-of-type) {
            margin-top: var(--mantine-spacing-md);
            margin-left: 0;
        }
    }
}

.my_secondaryControl {
    color: var(--mantine-color-white);
    background-color: rgba(255, 255, 255, 0.4);

    @mixin hover {
        background-color: rgba(255, 255, 255, 0.45);
    }
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 200%);
    width: 35px;
    height: 35px;
    border-radius: 80%;
    box-shadow: 0px 0px 1px 1px white;
    animation: pulse-animation 2s infinite;
    color: white;
    cursor: pointer;
    @media (max-width: $mantine-breakpoint-sm) {
        transform: translate(-50%, 180%);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        transform: translate(-50%, 180%);
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(f, f, f, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.portfolio_content_container {
    position: relative;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-image: url("../../public/images/hero-carousel/int-5.jpg"); /* Путь к изображению */
    background-size: cover; /* Масштабирует изображение, чтобы оно заполнило контейнер */
    background-position: 30% 30%; /* Центрирует изображение */
    background-repeat: no-repeat; /* Отключает повторение */
    border-radius: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    animation: shadowGlow 3s infinite;
}
.about_content_container {
    position: relative;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-image: url("../../public/images/hero-carousel/int-6.jpg"); /* Путь к изображению */
    background-size: cover; /* Масштабирует изображение, чтобы оно заполнило контейнер */
    background-position: 30% 30%; /* Центрирует изображение */
    background-repeat: no-repeat; /* Отключает повторение */
    border-radius: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    /* box-shadow: 0 3px 10px #228be6; */
    animation: shadowGlow 3s infinite;
    padding: 20px;
    /* @media (max-width: $mantine-breakpoint-xl) {
        width: 1000px;
        flex-direction: column;
    }
    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    } */
}

.contact_content_container {
    position: relative;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-image: url("../../public/images/hero-carousel/int-7.jpg"); /* Путь к изображению */
    background-size: cover; /* Масштабирует изображение, чтобы оно заполнило контейнер */
    background-position: 30% 30%; /* Центрирует изображение */
    background-repeat: no-repeat; /* Отключает повторение */
    border-radius: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    /* box-shadow: 0 3px 10px #228be6; */
    animation: shadowGlow 3s infinite;
    padding: 20px;
    /* @media (max-width: $mantine-breakpoint-xl) {
        width: 1000px;
        flex-direction: column;
    }
    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    } */
}
