.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1020;
    /* background: red; */
    background: #f1f3f5;
}

.inner {
    position: relative;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px 30px 30px 30px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    background: white;
}

.links {
    padding-top: var(--mantine-spacing-sm);
    padding-bottom: var(--mantine-spacing-sm);
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}

.mainLinks {
    margin-right: calc(var(--mantine-spacing-sm) * -1);
}

.mainLink {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--mantine-font-size-xs);
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
    padding: 7px var(--mantine-spacing-sm);
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition:
        border-color 100ms ease,
        color 100ms ease;

    @mixin hover {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        text-decoration: none;
    }

    &[data-active] {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        border-bottom-color: var(--mantine-color-dark-6);
    }
}

.secondaryLink {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
    font-size: var(--mantine-font-size-xs);
    text-transform: uppercase;
    transition: color 100ms ease;

    @mixin hover {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        text-decoration: none;
    }
}

.my_control {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    color: var(--mantine-color-text);
    font-size: var(--mantine-font-size-sm);
}

.link {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    text-decoration: none;
    font-size: var(--mantine-font-size-md);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    /*font-weight: 500;*/

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

        &.linkIcon {
            color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        }
    }

    &[data-active] {
        &,
        &:hover {
            background-color: var(--mantine-color-blue-light);
            color: var(--mantine-color-blue-light-color);

            & .linkIcon {
                color: var(--mantine-color-blue-light-color);
            }
        }
    }
}

.navbarMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex: 1;
    margin-top: var(--mantine-spacing-xl);
}
