@font-face {
    font-family: "AdventProBold";
    /* src: url("../local.fonts/NautilusPompilius/NautilusPompilius.woff2") format("woff2"); */
    src: url("AdventProBold.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

