@font-face {
    font-family: "TildaSansMedium";
    /* src: url("../local.fonts/NautilusPompilius/NautilusPompilius.woff2") format("woff2"); */
    src: url("TildaSansMedium.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;   
}
