@font-face {
    font-family: "TildaSansRegular";
    /* src: url("../local.fonts/NautilusPompilius/NautilusPompilius.woff2") format("woff2"); */
    src: url("TildaSansRegular.woff2") format("woff2");
    /* font-weight: 700; */
    font-style: normal;
}

