.container {
    margin-bottom: 100px;
    @media (max-width: $mantine-breakpoint-md) {
        padding-top: 50px;
        margin-bottom: 50px;
    }
}

.reel {
    position: fixed;
    bottom: 10px;
    border-top-left-radius: 20px 28px;
    border-top-right-radius: 20px 28px;
    border-bottom-left-radius: 20px 28px;
    border-bottom-right-radius: 20px 28px;
    z-index: 1210;
    transition: left 0.5s linear;
    height: 260px;
    width: 150px;

    @media (max-width: $mantine-breakpoint-xl) {
    }
    @media (max-width: $mantine-breakpoint-lg) {
    }
    @media (max-width: $mantine-breakpoint-md) {
    }
    @media (max-width: $mantine-breakpoint-sm) {
        height: 260px;
        width: 150px;
    }
    @media (max-width: $mantine-breakpoint-xs) {
        height: 260px;
        width: 150px;
    }
}

.title {
    font-size: rem(34px);
    font-weight: 900;
    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(24px);
    }
}

.description {
    text-align: center;
    &::after {
        content: "";
        display: block;
        background-color: var(--mantine-color-red-filled);
        width: rem(45px);
        height: rem(2px);
        margin-top: var(--mantine-spacing-sm);
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        text-align: center;
    }
}

.controls {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
    display: flex;
    justify-content: center;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.control {
    height: rem(42px);
    font-size: var(--mantine-font-size-md);

    &:not(:first-of-type) {
        margin-left: var(--mantine-spacing-md);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        &:not(:first-of-type) {
            margin-top: var(--mantine-spacing-md);
            margin-left: 0;
        }
    }
}
